# Node modules
node_modules/

# Build output
dist/

# Environment files
.env
.env.local

# System files
.DS_Store
Thumbs.db

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel deployment
.vercel/

# Logs and archives
*.log
*.tgz
*.zip

# Optional: MacOS
__MACOSX/
.package.json
.package-lock.json
.tailwind.config.js
.vite.config.js
.postcss.config.js